.container {
    background-color:white;
    margin:0;
    padding:0;
    height:auto;
}

#main-content {
    margin:0 auto;
    /* width:500px;
    height:auto; */
    display:grid;
    grid-template-columns:4fr 1fr;
    /* justify-content: space-between; */
    text-transform:capitalize;
    font-size:20px;
    text-transform:capitalize;
    padding:30px;
    /* background-color:white; */
}

#selected-items {
    /* width:600px; */
    /* padding:20px; */
    background-color:lightgray;
}

#items-list {
    /* width:300px; */
    /* padding:20px; */
    width:90%;
    background-color:whitesmoke;
}

#items {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:10px;
}

.fruits {
    /* width:450px; */
    /* height:80%; */
    background-color:lightgray;
    margin:20px;
    padding:10px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius:15px;
}

table {
    width:100%;
}

table tr {
    padding:5px 10px;
    margin:0;
    display:flex;
    justify-content: space-between;
}

tr:nth-child(odd){
    background-color:lightgray;;
}

table tr td {
    /* padding-left:10px; */
}

button {
    margin:0 auto;
    padding:5px 5px;
    width:60%;
    border:none;
    outline:none;
    border-radius:15px;
    background-color:black;
    color:white;
}

#cart {
    background-color:silver;
    text-align:left;
}

#cart div {
    /* width:100%; */
    margin:0;
    padding:5px 5px 5px 10px;
    font-style:italic;
}

#cart >:nth-child(odd){
    background-color:white;
}

h3 {
    padding-left:10px;
}

img {
    width:90%;
    height:auto;
    border-radius:50%;
}